@model CreatePostsViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" placeholder="Uzair Arif" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content"></label>
                <input type="textarea" asp-for="Content" class="form-control" placeholder="someone@somedomain.com" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>
